<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>珑文的博客</title>
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/index.min.css">
  <link rel="icon" href="/public/images/favicons/favicon.ico">
</head>

<body class="bg-light">
<div class="bg-white shadow-light">
  <header class="container index-header">
    <a class="logo" href="/">
      <b class="text">珑文的博客</b>
      <img src="/public/images/logo.svg" alt="珑文的博客" class="img-fluid">
    </a>
    
    <nav class="core">
      <a class="nav-btn active" aria-current="page" href="./web.html">前端开发</a>
      <a class="nav-btn" href="./backend.html">后端开发</a>
      <a class="nav-btn" href="./architect.html">系统架构</a>
      <a class="nav-btn" href="./mobile.html">移动端开发</a>
    </nav>
  </header>
</div>

<div class="cover">
  <section class="py-5 container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 class="fw-light font-40">前端观景台</h1>
        <p class="text-muted fw-light">
          一定要找到一套适合自己，并且体系完整的学习资料，不要盲目追求数量，<br>
          要注重质量熟悉前端和后端工作流程，能够在前端做到PC端、移动端以及跨平台的开发，<br>
          可以带领团队完成整个项目的开发 <br>
          前端最接近用户，理解用户需求，转化成产品实现的能力是核心 <br>
          自我规划能力：对于技术领域的趋势的洞察，以及个人对应的学习计划
        </p>
        <footer>
          <a href="#" class="btn btn-primary my-2 me-2">前端工程化</a>
          <a href="#" class="btn btn-secondary my-2">前端框架</a>
        </footer>
      </div>
    </div>
  </section>
</div>

<div class="album mb-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/public/images/web2.jpg" alt="web" class="img-fluid">
          
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success">进入专栏</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">点赞</button>
              </div>
              <small class="text-muted">19分钟前</small>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card shadow-sm">
          <img src="/public/images/1.jpg" alt="web" class="img-fluid">
          
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">查看专栏</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">13篇文章</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/public/images/2.jpg" alt="web" class="img-fluid">
          
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">查看专栏</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">13篇文章</small>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card shadow-sm">
          <img src="/public/images/3.jpg" alt="web" class="img-fluid">
          
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">查看专栏</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">13篇文章</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/public/images/4.jpg" alt="web" class="img-fluid">
          
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">查看专栏</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">13篇文章</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/public/images/5.jpg" alt="web" class="img-fluid">
          
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">查看专栏</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">13篇文章</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="main-footer">
  <nav>
    <a href="/" class="me-3"><strong>珑文学全栈</strong></a>
    <a href="/" class="me-3"><strong>网站SEO</strong></a>
    <a href="/" class="me-3"><strong>微信小程序</strong></a>
  </nav>
  <aside>
    <small>苏ICP备12064103号</small>
    Copyright © 2014-2020
    <a href="/"><strong>珑文的博客</strong></a>
  </aside>
</footer>
</body>
</html>
